<div class="container custom-form-container">
  <!-- Keyboarding out of the box -->
  <!-- PART 1 -->

  <!-- <div class="row">
    <button>Button 1</button>
    <button tabindex="0">Button 2 (default tabindex)</button>
    <button>Button 3</button>
    <button tabindex="-1">Button 4 (skipped)</button>
    <button>Button 5</button>
  </div> -->

  <!-- Keyboarding out of the box -->
  <!-- PART 2 -->

  <!-- <div class="row css-order">
    <button>Button 5</button>
    <button>Button 1</button>
    <button>Button 3</button>
    <button>Button 2</button>
    <button>Button 4</button>
  </div> -->

  <!-- Keyboarding out of the box -->
  <!-- PART 3 -->

  <!-- <div class="row">
    <input type="text" placeholder="Plain input" />
  </div>
  <div class="row">
    <input class="form-control" type="text" placeholder="Custom input" />
  </div> -->

  <!-- skip links -->

  <!-- <div class="row">
    <input
      cxSkipLink="cx-custom-skip-link"
      class="form-control"
      type="text"
      placeholder="Skip here!!!"
    />
  </div> -->
</div>
